# phthon Basic

In [5]:
print("mansi")

mansi

In [4]:
var1 = 78
var2 = 43
var3 = var1 + var2
print(var3)

121

In [6]:
v1= 99
v2= 76
v3= v1-v2
print(v3)

23

# python variable

In [2]:
var1 = "python"
a = 55
b = 87
print(var1)
print(a)
print(b)

sum = a+b
print(sum)

python
55
87
142

In [3]:
div = a/b
print(div)

0.632183908045977

# python coding

In [7]:
#variable
v1 = 89.9
v2 =56
v3 = v1 + v2
print(v3)
v4 = v1 - v2
print(v4)
v5 = v1*v2
print(v5)
v6 = v1/v2
print(v6)

145.9
33.900000000000006
5034.400000000001
1.605357142857143

In [9]:
count = 100
km = 1000
name = "mansi"
print(name)
print(count,km,name,sep = ' ,' )
print(a,b,sep = ' , ')

mansi
100 ,1000 ,mansi
55 , 87

In [10]:
a=b=c=1

a
b
c

#print(a,b,c)

1

In [11]:
a=b=c=1
a
b
c
print(a,b,c)

1 1 1

In [12]:
x,y,z =55,23,67
z

67

In [13]:
del z

In [14]:
z

NameError: name 'z' is not defined

# data tyape
numerical data type
int 
float
compplex

In [15]:
a=67
b=99.999
c=3.14j
d="mansi"
e=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [16]:
#how to take input from user

#ask to user to enter the value of x and store in variable
x = int(input("Enter the value of x:"))

#ask to user to enter the value of y and store in variable
y = int(input("Enter the value of y:"))

# perform any mathematical operation on user input

z= x*y

# print the answer

z
a= x/y

z

Enter the value of x:78
Enter the value of y:9

702

# string

In [17]:
str1= "i like python programing"
str1

'i like python programing'

In [18]:
str2 = " in jupyter"
str2

' in jupyter'

In [19]:
str3 =str1+str2
str3

'i like python programing in jupyter'

In [20]:
#string indexing and slicing

name = "jaiswal"
print(name)
print(len(name))

jaiswal
7

In [21]:
name[-4]

's'

In [22]:
var1 = "my name is mansi jaiswal"
print(len(var1))

24

In [23]:
var1[-23]

'y'

In [24]:
name = "hello world my name is mansi."
print(len(name))

29

In [25]:
name[23:]

'mansi.'

In [26]:
name[22]

' '

In [27]:
name[:12]

'hello world '

In [28]:
name[-22]

'o'

In [29]:
name[-1:-5]
#first falue is  big in slicing

''

In [30]:
name[-6:-1]

'mansi'

In [31]:
name[4]

'o'

In [32]:
name[-12]

'm'

In [33]:
name[0]

'h'

In [34]:
name[-7]

' '

In [35]:
name[5]

' '

In [36]:
name[-5]

'a'

In [37]:
name[3:5]

'lo'

In [38]:
a=b=c=2
id(a)

2617636055376

In [39]:
id(b)

2617636055376

In [40]:
x=89
id(x)

2617636246640

In [41]:
a=89

In [42]:
b

2

In [43]:
c

2

In [44]:
a

89

# string formatting

In [45]:
#poditing formatimg
string1 = "{1} {0} {2}".format('python','programing','language')
print ("\n print string in positional order")
print(string1)

 print string in positional order
programing python language

In [15]:
#key formating
string1 = "{a} {b} {c}" .format(a= 'python', b= 'programming', c= 'language')
print("\n print string in order of keywords: ")
print(string1)

 print string in order of keywords:
python programming language

# python list

In [46]:
my_list=[1,2,3,4,5,6,7,8,9]

In [8]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
type(my_list)

list

In [10]:
type(my_list[0])

int

In [11]:
x=[1,2,3.4,'mansi']

In [12]:
type(x)

list

In [13]:
x[2]

3.4

In [14]:
x[-1]

'mansi'

In [16]:
x=input("enter the value x")
y=input("enter the value y")

enter the value x8
enter the value y54

In [17]:
x+y

'854'

# tuple

In [23]:
t1 = (8,5,34,2,5,2)
t2 = (1,2,34,5,6,)

In [24]:
type(t1)

tuple

In [25]:
t1+t2

(8, 5, 34, 2, 5, 2, 1, 2, 34, 5, 6)

In [26]:
t1*2

(8, 5, 34, 2, 5, 2, 8, 5, 34, 2, 5, 2)

In [28]:
t1[0]

8

# python dictionary

In [29]:
emp={}
type(emp)

dict

In [30]:
emp["name"]= "mansi"
emp["age"]= 20
emp["gender"]= "F"

In [31]:
emp

{'name': 'mansi', 'age': 20, 'gender': 'F'}

In [32]:
emp["name"]

'mansi'

In [33]:
emp.keys()

dict_keys(['name', 'age', 'gender'])

In [35]:
emp.values()

dict_values(['mansi', 20, 'F'])

# python Loops

#while Loop

In [5]:
c=0
while(c <9):
    print ('the count is:' , c)
    c = c+1 
    print ("GOOD BYE!")

the count is: 0
GOOD BYE!
the count is: 1
GOOD BYE!
the count is: 2
GOOD BYE!
the count is: 3
GOOD BYE!
the count is: 4
GOOD BYE!
the count is: 5
GOOD BYE!
the count is: 6
GOOD BYE!
the count is: 7
GOOD BYE!
the count is: 8
GOOD BYE!

In [3]:
c=0
while(c<9):
    print ('the count is:' , c)
    c = c+1 
    print ("GOOD BYE!")

the count is: 0
GOOD BYE!
the count is: 1
GOOD BYE!
the count is: 2
GOOD BYE!
the count is: 3
GOOD BYE!
the count is: 4
GOOD BYE!
the count is: 5
GOOD BYE!
the count is: 6
GOOD BYE!
the count is: 7
GOOD BYE!
the count is: 8
GOOD BYE!

In [4]:
c=0
while(c<9):
   # print('the count is:',c)
    c= c+1
    print("mansi")

mansi
mansi
mansi
mansi
mansi
mansi
mansi
mansi
mansi

# while loop with else

In [7]:
c=0
while c < 5:
    print(c, "is less than 5")
    c= c+1
else:
        print(c, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

# for loop

In [8]:
for letter in 'python': #first ex
    print('current letter:', letter)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [2]:
fruit = ['kivi' ,'orange','apple'] 
for fruit in fruit:
    print ("current fruit:" ,fruit)

current fruit: kivi
current fruit: orange
current fruit: apple

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# for loop with else

In [20]:
for num in range(10,30):  #to iterate between 10 to 20
    for i in range(2,num): # to ireate on the factor of the no
        if num%i == 0: # determine first factor
            j=num/i #caluate the first factor
            print ('%d equals %d * %d' % (num,i,j))
        break 
    else:
        print (num,'is a prime no')
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9
20 equals 2 * 10
22 equals 2 * 11
24 equals 2 * 12
26 equals 2 * 13
28 equals 2 * 14

In [22]:
from math import pi
pi

3.141592653589793

In [23]:
#find area of cricle
r=12
area = pi*r*r
area

452.3893421169302

# conditional statement

In [2]:
num =9
if num>0:
    if num == 0:
        print ( num, "is zero")
    else:
        print (num, "is positive no")
   # print ("statement is true")
else:
    print(num, "is negetive no")

9 is positive no

# calculator

In [1]:
# this function add two no
def add(x,y):
    return x+y

# this function sub two no
def sub(x,y):
    return x-y

 # this function multiply two no
def mul(x,y):
    
    return x*y
# this function div two no
def div(x,y):
    return x/y
print("select operation")
print("1. add")
print("2. sub")
print("3. mul")
print("4. div")

choice = input("enter choice(1/2/3/4):")

num1 = int(input("enter the first no:"))
num2 = int(input("enter the secound no:"))

if choice == '1':
    print(num1,'+',num2,'=',add(num1,num2))
elif choice == '2':
    print(num1,'-',num2,'=',sub(num1,num2))
elif choice == '3':
    print(num1,'*',num2,'=',mul(num1,num2))
elif choice == '4':
    print(num1,'/',num2,'=',div(num1,num2))
else:
    print("invalid input")

select operation
1. add
2. sub
3. mul
4. div
enter choice(1/2/3/4):3
enter the first no:76
enter the secound no:4
76 * 4 = 304